<div class="container" *ngIf="user">
    <div class="headline-holder">
        <div class="headline">
            <p>
                Foto albumi familije {{ user.userName }}  
            </p>
        </div>
        <div class="button-holder">
            <p (click)="gridLayout = true" >kube</p>
            <p (click)="gridLayout = false">line</p>
        </div>
    </div>
    <div class="cards-holder" [ngClass]="gridLayout ? 'active' : 'inactive'">
        <app-photo-card 
        *ngFor="let card of albums" 
        [card]="card"
        [layout]="gridLayout"
        ></app-photo-card>
    </div>
</div>